@import "styles";
@import url(https://fonts.googleapis.com/css?family=Roboto);

$background-color:#1d1e1c;
$wrapper-color-dark:#31302d;
$wrapper-color:#f67da8;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

$sidebar-width: 114px;
$nav-color: #333;

.wrapper {
  background-color:$wrapper-color;
  background-image: url("../img/tile_01.jpg");
  background-attachment:fixed;
}

.nav-sidebar {
  position:fixed;
}

.item label {
  text-align:left;
}

.content img {
  width: 100%;
  height: auto;
}

.row {
  max-width: 2048px;
  margin: 0px;
}

.logo {
  margin-top:10px;
  margin-left:10px;
  position:fixed;
  width: 10%;
  z-index:9999;
 }
 
 .logo name {
  color: #fff200;
  font-family: 'Roboto', sans-serif;
 }
 
.footer {
  // position: fixed;
  // width: 100%;
  // bottom: 0;
  // height: 100px; 
}

.nav-sidebar-bottom {
  width:100% !important;
}

.nav-sidebar-top {
  width:100% !important;  
}
